b30-dsa-lab-tasks
linked-list.exe
linked-list-2.exe
linked-list-class.exe
ll-functions-static-recursive.exe
queue-array.exe
queue-linked-list.exe
queue-linked-list-class.exe
stack-linked-list-class.exe
stack-linked-list.exe
stack-array.exe
stack-array-class.exe

queue-array.cpp
linked-list-2.cpp
ll-functions-static-recursive.cpp